<h2 class="text-center">Resturants</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">City</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let resturant of resturants">
      <th scope="row">{{resturant.id}}</th>
      <td>{{resturant.name}}</td>
      <td>{{resturant.email}}</td>
      <td>{{resturant.city}}</td>
      <td><i (click)="deleteResturant(resturant.id)" class="fa fa-trash" style="font-size:30px;color:red;"></i></td>
    </tr>
  </tbody>
</table>
